@using ClinicMvcPr.Models
@model Doctor
<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>

  <div class="form-group">
  <label asp-for="ImageUpload" class="form-label">Image Upload</label>
  <input class="form-control" asp-for="ImageUpload" id="formFile">
   <span asp-validation-for="ImageUpload" class="text-danger"></span>
</div>
     <div class="form-group">
    <label asp-for="DepartmentId">DepartmentId</label>
    <input asp-for="DepartmentId" class="form-control" />
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
